/#search.cpp#
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.config
/.emacs
/.emacs.d
/.lesshst
/.mozilla
/.vscode-server
/a.out
/bandn.cpp
/bandn.cpp~
/booklist.dat
/csc252
/driving.dat
/driving.dat~
/evenodd.cpp
/evenodd.cpp~
/file1.txt
/file2.txt
/fizzbuzz.cpp
/fizzbuzz.cpp~
/for.cpp
/for.cpp~
/function.cpp
/function.cpp~
/helloworld2.cpp
/helloworld2.cpp~
/hotel.cpp
/hotel.cpp~
/intrest.cpp
/intrest.cpp~
/io.cpp
/io.cpp~
/latinpig.cpp
/latinpig.cpp~
/listsort.cpp
/listsort.cpp~
/nest.cpp
/nest.cpp~
/notes.cpp
/notes.cpp~
/notes2.cpp
/notes2.cpp~
/paint.cpp
/paint.cpp~
/palindrome.cpp
/palindrome.cpp~
/param.cpp
/param.cpp~
/penndot.cpp
/penndot.cpp~
/perimeter.cpp
/perimeter.cpp~
/piglatin.cpp
/piglatin.cpp~
/prog.dat
/prog.out
/reference.cpp
/reference.cpp~
/rolldice.cpp
/rolldice.cpp~
/rps.cpp
/rps.cpp~
/search.cpp
/search.cpp~
/static.cpp
/static.cpp~
/table.cpp~
/table1.dat
/table1.dat~
/table2.dat
/table3.dat
/tables.cpp
/tables.cpp~
/triangle.cpp
/triangle.cpp~
/while.cpp
/while.cpp~
/.#perimeter.cpp